<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="data-table-js">
		<script type="text/javascript" src="media/js/jquery.dataTables.min.js"></script>

		<!-- 内联js: -->
		<script th:inline="javascript">
			jQuery(document).ready(function() {   
				   App.init(); 
				   $('#dataTable').DataTable();
			});
		</script>

	</div>
</body>
</html>