<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="${dubbo.application}" />
	<dubbo:registry protocol="zookeeper" address="${zookeeper.address}" />
	
	<dubbo:protocol name="dubbo" port="${dubbo.port}" threads="100" />
	<dubbo:monitor protocol="registry"/>
	
	<dubbo:reference id="roleApi" group="${dubbo.group}" interface="com.jimas.weixin.skytrap.repository.api.RoleApi" />
	<dubbo:reference id="userApi" group="${dubbo.group}" interface="com.jimas.weixin.skytrap.repository.api.UserApi" />
	<dubbo:reference id="userRoleApi" group="${dubbo.group}" interface="com.jimas.weixin.skytrap.repository.api.UserRoleApi" />
	<dubbo:reference id="menuButtonApi" group="${dubbo.group}" interface="com.jimas.weixin.skytrap.repository.api.MenuButtonApi" />
</beans>