<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
<body>
	<div th:fragment="frontMenu">
 
 <!-- BEGIN EMPTY PAGE SIDEBAR -->

		<div class="page-sidebar nav-collapse collapse visible-phone visible-tablet">

			<ul class="page-sidebar-menu">

				<li class="visible-phone visible-tablet">

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

					<form class="sidebar-search">

						<div class="input-box">

							<a href="javascript:;" class="remove"></a>

							<input type="text" placeholder="Search..."/>            

							<input type="button" class="submit" value=" "/>

						</div>

					</form>

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

				<li>

					<a class="active" href="index">

					Dashboard                        

					</a>

				</li>

				<li class="active">

					<a href="javascript:;">

					Layouts

					<span class="arrow open"></span>   

					<span class="selected"></span>   

					</a>

					<ul class="sub-menu">

						<li>

							<a href="layout_horizontal_sidebar_menu.html">

							Horzontal &amp; Sidebar Menu                     </a>

						</li>

						<li>

							<a href="layout_horizontal_menu1.html">

							Horzontal Menu 1                    </a>

						</li>

						<li>

							<a href="layout_horizontal_menu2.html">

							Horzontal Menu 2                    </a>

						</li>

						<li>

							<a href="layout_promo.html">

							Promo Page                     

							</a>

						</li>

						<li>

							<a href="layout_email.html">

							Email Templates                     </a>

						</li>

						<li>

							<a href="layout_ajax.html">

							Content Loading via Ajax</a>

						</li>

						<li>

							<a href="layout_sidebar_closed.html">

							Sidebar Closed Page                    </a>

						</li>

						<li>

							<a href="layout_blank_page.html">

							Blank Page                    </a>

						</li>

						<li>

							<a href="layout_boxed_page.html">Boxed Page</a>

						</li>

						<li>

							<a href="layout_boxed_not_responsive.html">

							Non-Responsive Boxed Layout                     </a>

						</li>

						<li>

							<a href="layout_blank_page.html">

							Blank Page                    </a>

						</li>

						<li>

							<a href="javascript:;">

							More options

							<span class="arrow"></span>

							</a>

							<ul class="sub-menu">

								<li><a href="#">Second level link</a></li>

								<li>

									<a href="javascript:;">More options<span class="arrow"></span></a>

									<ul class="sub-menu">

										<li><a href="index">Third level link</a></li>

										<li><a href="index">Third level link</a></li>

										<li><a href="index">Third level link</a></li>

										<li><a href="index">Third level link</a></li>

										<li><a href="index">Third level link</a></li>

									</ul>

								</li>

								<li><a href="index">Second level link</a></li>

								<li><a href="index">Second level link</a></li>

								<li><a href="index">Second level link</a></li>

							</ul>

						</li>

					</ul>

				</li>

				<li>

					<a href="">Tables</a>

				</li>

				<li>

					<a href="">Extra

					<span class="arrow"></span>

					</a>

					<ul class="sub-menu">

						<li><a href="index">About Us</a></li>

						<li><a href="index">Services</a></li>

						<li><a href="index">Pricing</a></li>

						<li><a href="index">FAQs</a></li>

						<li><a href="index">Gallery</a></li>

						<li><a href="index">Registration</a></li>

						<li><a href="index">2 Columns (Left)</a></li>

						<li><a href="index">2 Columns (Right)</a></li>

					</ul>

				</li>

			</ul>

		</div>

		<!-- END EMPTY PAGE SIDEBAR -->
 
 </div>
 </body>
</html>